.comment-container{
    display: flex;
    background-color: rgb(66, 65, 65);
    padding: 50px;
    border-radius: 20px;
    gap: 50px;
    background: rgb(68, 151, 232);
        background: linear-gradient(0deg, rgba(68, 151, 232, 1) 0%, rgba(216, 241, 255, 1) 32%, rgba(133, 218, 247, 1) 55%, rgba(170, 253, 255, 1) 100%);
    .reflection-body{
        width: 50%;
        background-color: white;
        padding: 15px;
        border-radius: 15px;
    }
    .faq-body{
        width: 50%;
        color: white;
    }
}