.menuheader-container {
    .menuheader-content-up {
        display: flex;
        gap: 55px;
    }

    .menuheader-content-down {
        display: flex;
        gap: 55px;

    }

    .title {
        font-size: 20px;
        text-align: center;
    }
}